/* Se quitan todos los valores por defecto */
*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
/* Se quitan todos los valores por defecto */

/* Se crean variables para la paleta de colores */
html{
  --primero:  #793FDF;
  --segundo: #97FFF4;
  --tercero: #7091F5;
  --cuarto: #FFFD8C;
}
/* Se crean variables para la paleta de colores */

/* Se pinta el body */
body{
  background-color: #15011f;

}
/* ------------------------star Navbar Secction------------------------ */
:root {
--color-white: #ffffff;
}

body {
background: #15011f;
background: linear-gradient(to right, #15011f, #793FDF, #15011f);
color: var(--color-white);
}

ul {
list-style: none;
}

a {
color: var(--color-white);
text-decoration: none;
}

.menuBtn {
cursor: pointer;
position: absolute;
top: 15px;
right: 20px;
z-index: 2px;
display: none;
}

.navContainer {
background: #15011f;
background: linear-gradient(to right, #15011f, #793FDF, #15011f);
color: var(--color-white);
position: fixed;
margin: auto;
width: 100%;
z-index: 1;
}

.navMain {
align-items: center;
display: flex;
font-size: 17px;
height: 60px;
justify-content: space-between;
padding: 20px 0;
}

.navLogo{
width: 60px;
opacity: 0.9;
}

.navMain ul {
display: flex;
}

.navMain ul li {
padding: 10px;
}

.navMain ul li a {
padding: 2px;
}

.navMain ul li a:hover {
border-bottom: 2px solid var(--color-white);
}

.navSearch input {
margin-left: -10%;
border-radius: 2px;
padding: 2px;
}

/*media queries*/

@media (max-width: 992px) {

.menuBtn {
  z-index: 2;
    display: block;
  
}

.body {
  background: #15011f
}


.navMain ul.navMenu {
    background: black;
    display:inline-table;
    height: 100px;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    transform: translate(-400px);
    transition: transform 0.8s ease-in-out;
    z-index: 2;
}

.navMain ul.navMenu li {
  background: black;
  font-size: 20px;  
  z-index: 2;
}

.navLogo {
    opacity: 0;
}


.navMain form.navSearch {
    margin-right: 35%;
}

.navMain ul.navMenu.show{
    transform: translate(-10px);

}


}

@media (max-width: 576px) {
.navSearch {
    opacity: 0;
}


.navContainer {
  margin:auto;
  width: 0%; 
  z-index: 1;
}
}
/* ------------------------End Navbar Secction------------------------ */
/* Se pinta el body */

/* Style Buy Button */
.btn{
  background-color: transparent;
  border: 3px solid var(--cuarto);
  color: var(--cuarto);
  border-radius: 1.5rem;
}
/* Style Buy Button */

/* Style Buy Button hover*/
.btn:hover{
  background-color: var(--cuarto);
  border: 3px solid var(--cuarto); 
  box-shadow: 10px 10px 66px 0px var(--cuarto);
  border-radius: 1.5rem;
  font-weight: 800;
  color:black;
}
/* Style Buy Button hover*/

/* Style modal content*/
.modal-content{
  background-color: var(--tercero);
  box-shadow: 10px 10px 66px 0px var(--cuarto);
  color: var(--cuarto);
}
/* Style modal content*/

/* Style h1 container*/
.h1container{
  margin-bottom: 3rem;
  border: 3px solid nome;
  box-shadow: 10px 10px 66px 0px var(--cuarto);
  color:var(--cuarto);
  text-align: center;
}
/* Style h1 container*/

/* Style Table*/
.table{
  border: 3px solid var(--cuarto);
  color:var(--cuarto);
}
/* Style table*/
/* FOOTER */

/* footer*/ 
footer{
background: #15011f;
background: linear-gradient(to right, #15011f, #793FDF, #15011f);
}

.footerContainer{
 width: 100%;
 padding: 50px 30px 20px;
}

.redesIconos{
 display: flex;
 justify-content: center;
}

.redesIconos a{
 text-decoration: none;
 padding: 10px;
 background-color: white;
 margin: 10px;
 border-radius: 50%;
}

.redesIconos a i{
 font-size: 1.5em;
 color: black;
 opacity: 0.9;
}

.redesIconos a:hover{
 background-color: #111;
 transition: 0.5s;
}

.redesIconos a:hover i{
 color: white;
 transition: 0.5s;
 
}

.footerNav{
 margin: 30px 0;
}

.footerNav ul{
 display: flex;
 justify-content: center;
 list-style-type: none;
}

.footerNav ul li a{
 color: white;
 margin: 20px;
 text-decoration: none;
 font-size: 1.3em;
 opacity: 0.7;
 transition: 0.5s;
}

.footerNav ul li a:hover{
 opacity: 1;
 border-bottom: 2px solid white;
}

.footerBotton{
 background-color: #000;
 padding: 20px;
 text-align: center;
}

.footerBotton p{
 color: white;
}

.designer{
 opacity: 0.7;
 text-transform: 1px;
 font-weight: 400px;
 margin: 0 5px;
}

@media (max-width: 576px){
 .footerNav ul{
     flex-direction: column;
 }
 .footerNav ul li{
  width: 90%;
  text-align: center;
  margin: 5px;
}
}

@media (max-width: 450px){
.container{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 20%;
  font-size: 60%;
}
}






