/* Se quitan todos los valores por defecto */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* Se quitan todos los valores por defecto */

/* Se crean variables para la paleta de colores */
html{
    --primero:  #793FDF;
    --segundo: #97FFF4;
    --tercero: #7091F5;
    --cuarto: #FFFD8C;
}
/* Se crean variables para la paleta de colores */

/* Se pinta el body */
body{
    background-color: #15011f;

}
/* ------------------------star Navbar Secction------------------------ */
#navbarInicio{
    font-size: 0.8rem;
    background-color:#15011f;
    padding-top: 1rem;
}
/* Style logo Navbar */
.logoNav {
    width: 3rem;
}
/* Style logo Navbar */

/* Style Navbar */
.container-fluid {
    margin-top: -1.5%;
    background-color: var(--tercero);
}
/* Style Navbar */

/* Style Button Buscar */
.anclaBuscar {
    text-decoration: none;
    color: var(--cuarto);
}
/* Style Button Buscar */

/* Style Button Buscar hover */
.anclaBuscar:hover {
    text-decoration: none;
    color: black;
}
/* Style Button Buscar hover*/

/* Style Dropdown Menu */
.dropdown-menu {
    background-color: transparent;
    color: var(--cuarto);
}
/* Style Dropdown Menu */

/* Style Dropdown Menu item */
.dropdown-item {
    background-color: transparent;
    color: var(--cuarto);
}
/* Style Dropdown Menu item*/
.nav-link{
color: var(--cuarto);
}
/* ------------------------End Navbar Secction------------------------ */
/* Se pinta el body */

/* Style Buy Button */
.btn{
    background-color: transparent;
    border: 3px solid var(--cuarto);
    color: var(--cuarto);
    border-radius: 1.5rem;
}
/* Style Buy Button */

/* Style Buy Button hover*/
.btn:hover{
    background-color: var(--cuarto);
    border: 3px solid var(--cuarto); 
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    border-radius: 1.5rem;
    font-weight: 800;
    color:black;
}
/* Style Buy Button hover*/

/* Style modal content*/
.modal-content{
    background-color: var(--tercero);
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    color: var(--cuarto);
}
/* Style modal content*/

/* Style h1 container*/
.h1container{
    margin-bottom: 3rem;
    border: 3px solid nome;
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    color:var(--cuarto);
    text-align: center;
}
/* Style h1 container*/

/* Style Table*/
.table{
    border: 3px solid var(--cuarto);
    color:var(--cuarto);
}
/* Style table*/
/* FOOTER */

#footer{
    background-color: transparent;
  }
  
  .logo-footer {
    width: 200px;
    height: auto;
  }
  
  .social-media {
    color: var(--cuarto);
    font-size: 40px;
  }
  
  .social-media:hover {
    color: var(--cuarto);
    transition: all 0.1s linear;
    font-size: 50px;
  }
  
  .about-footer a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--cuarto);
  }
  
  .about-footer a:hover {
    color: var(--cuarto);
    transition: all 0.1s linear;
    font-size: 35px;
  }
  .copiRight{
    color: var(--cuarto)
  }
/* Responsive styles */

  @media (min-width: 576) {
    .col-4 {
      .iconRep {
        font-size: 1rem;
      }
    }
    .col-4:hover {
      .iconRep {
        font-size: 1rem;
      }
    }
  }
  @media (min-width: 576) and (max-width: 992px) {
    .col-4 {
      .iconRep {
        font-size: 1rem;
      }
    }
    .col-4:hover {
      .iconRep {
        font-size: 1rem;
      }
    }
  }
  @media (min-width: 1366) and (max-width: 1978px) {
  }