/* Se quitan todos los valores por defecto */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* Se quitan todos los valores por defecto */

/* Se crean variables para la paleta de colores */
html{
    --primero:  #793FDF;
    --segundo: #97FFF4;
    --tercero: #7091F5;
    --cuarto: #FFFD8C;
}
/* Se crean variables para la paleta de colores */

/* Se pinta el body */
body{
    background-color: #15011f;

}
/* Se pinta el body */

/* ------------------------star categories video section------------------------- */
/* ------------------------star Navbar Secction------------------------ */
:root {
  --color-white: #ffffff;
  }
  
  body {
  background: #15011f;
  background: linear-gradient(to right, #15011f, #793FDF, #15011f);
  color: var(--color-white);
  }
  
  ul {
  list-style: none;
  }
  
  a {
  color: var(--color-white);
  text-decoration: none;
  }
  
  .menuBtn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2px;
  display: none;
  }
  
  .navContainer {
  background: #15011f;
  background: linear-gradient(to right, #15011f, #793FDF, #15011f);
  color: var(--color-white);
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  }
  
  .navMain {
  align-items: center;
  display: flex;
  font-size: 17px;
  height: 60px;
  justify-content: space-between;
  padding: 20px 0;
  }
  
  .navLogo{
  width: 60px;
  opacity: 0.9;
  }
  
  .navMain ul {
  display: flex;
  }
  
  .navMain ul li {
  padding: 10px;
  }
  
  .navMain ul li a {
  padding: 2px;
  }
  
  .navMain ul li a:hover {
  border-bottom: 2px solid var(--color-white);
  }
  
  .navSearch input {
  margin-left: -20%;
  border-radius: 2px;
  padding: 2px;
  }
  
  .navMain ul.navMenu .dropdown {
    position: relative;
  }
  
  .navMain ul.navMenu .dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(15, 15, 139); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 2;
  }
  
  .navMain ul.navMenu .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  /*media queries*/
  
  @media (max-width: 992px) {
  
  .menuBtn {
    z-index: 2;
      display: block;
    
  }
  
  .body {
    background: #15011f
  }
  
  
  .navMain ul.navMenu {
      background: black;
      display:inline-table;
      height: 100px;
      left: 0;
      padding: 20px;
      position: absolute;
      top: 0;
      transform: translate(-400px);
      transition: transform 0.8s ease-in-out;
      z-index: 2;
  }
  
  .navMain ul.navMenu li {
    background: black;
    font-size: 20px;  
    z-index: 2;
  }
  
  .navLogo {
      opacity: 0;
  }
  
  
  .navMain form.navSearch {
      margin-right: 35%;
  }
  
  .navMain ul.navMenu.show{
      transform: translate(-10px);
  
  }
  
  
  }
  
  @media (max-width: 576px) {
  .navSearch {
      opacity: 0;
  }
  
  
  .navContainer {
    margin:auto;
    width: 0%; 
    z-index: 1;
  }
  }
/* ------------------------End Navbar Secction------------------------ */
.h3Title{
  margin-top: 11%;
    color: #FFFD8C;
    
}
/* title video section */

.divTrailer{
    width: 100%;
    height: 100%;
}
/* Style div video section */

/* Style  Destac video section */
.vidDestac{
    width: 100%;
    height: 100%;
}
/* Style  Destac video section */

/* Style  Div img section */
.divImg{
    width: 25%;
}
/* Style  Div img section */


/* Style  img lord of Fallen section */
.imglof{
    /* margin-left: -10px; */
    width: 100%;
    height: 100%;
}
/* Style  img lord of Fallen section */

/* Style div slider */
.col-8{
    width: 70%;
}
/* Style div slider */

/* ------------------------end categories video section------------------------- */

/* ------------------------star categories video Section details------------------------- */

/* Style card */
.card{
    background-color: #15011f;
    border: 3px solid #15011f;
}
/* Style card */

/* Style card tex */
.card-text{
    color: var(--cuarto);
}
/* Style card tex */

/* Style card span tex */
.spanDetail{
    background-color: #15011f;
    color: var(--cuarto);
}
/* Style card span tex */
#imgDitail{
    width: 100%;
    height: 45%;
}

.moreRecomends{
    color: var(--cuarto);
}



/* Style card Buy Button  */
.btn{
    background-color: transparent;
    border: 3px solid var(--cuarto);
    color: var(--cuarto);
    border-radius: 1.5rem;
}
/* Style card Buy Button */

/* Style car Buy Button hover*/
.btn:hover{
    background-color: var(--cuarto);
    border: 3px solid var(--cuarto); 
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    border-radius: 1.5rem;
    font-weight: 800;
}
/* Style Buy Button hover*/

/* style h1 categories section */
.h1categories{
    color:var(--cuarto);
    font-weight: 600;
}
/* style h1 categories section */
/* style h1 categories section hover*/
.h1categories:hover{
    color:var(--cuarto)
}
/* style h1 categories section hover*/

/* style conteiner categorias */
#contCategories{
    padding: 0.3rem;
    filter: drop-shadow(5px 5px 17px #FFFD8C);
    background-color: transparent;
    border: 3px solid var(--cuarto)
}
/* style conteiner categorias */

@media (max-width: 576px){

  .carousel-indicators{
    display: none;
  }

  #carouselExampleIndicators{
    display: none;
  }

   
} 

@media (max-width: 992px){
  .carousel-indicators{
    display: none;
  }

  #carouselExampleIndicators{
    display: none;
  }
  
  .card{
    width: 50%;
  margin: 0 auto;
} 
   
} 


/* footer*/ 

  
  .footerContainer{
   width: 100%;
   padding: 50px 30px 20px;
  }
  
  .redesIconos{
   display: flex;
   justify-content: center;
  }
  
  .redesIconos a{
   text-decoration: none;
   padding: 10px;
   background-color: white;
   margin: 10px;
   border-radius: 50%;
  }
  
  .redesIconos a i{
   font-size: 1.5em;
   color: black;
   opacity: 0.9;
  }
  
  .redesIconos a:hover{
   background-color: #111;
   transition: 0.5s;
  }
  
  .redesIconos a:hover i{
   color: white;
   transition: 0.5s;
   
  }
  
  .footerNav{
   margin: 30px 0;
  }
  
  .footerNav ul{
   display: flex;
   justify-content: center;
   list-style-type: none;
  }
  
  .footerNav ul li a{
   color: white;
   margin: 20px;
   text-decoration: none;
   font-size: 1.3em;
   opacity: 0.7;
   transition: 0.5s;
  }
  
  .footerNav ul li a:hover{
   opacity: 1;
   border-bottom: 2px solid white;
  }
  
  .footerBotton{
   background-color: #000;
   padding: 20px;
   text-align: center;
  }
  
  .footerBotton p{
   color: white;
  }
  
  .designer{
   opacity: 0.7;
   text-transform: 1px;
   font-weight: 400px;
   margin: 0 5px;
  }
  
  @media (max-width: 576px){
   .footerNav ul{
       flex-direction: column;
   }
   .footerNav ul li{
    width: 90%;
    text-align: center;
    margin: 5px;
  }
  }