/* Se quitan todos los valores por defecto */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* Se quitan todos los valores por defecto */

/* Se crean variables para la paleta de colores */
html{
    --primero:  #793FDF;
    --segundo: #97FFF4;
    --tercero: #7091F5;
    --cuarto: #FFFD8C;
}
/* Se crean variables para la paleta de colores */

/* Se pinta el body */
body{
    background-color: #15011f;

}
/* Se pinta el body */

/* ------------------------star categories video section------------------------- */
/* ------------------------star Navbar Secction------------------------ */
#navbarInicio{
    font-size: 0.8rem;
    background-color:#15011f;
    padding-top: 1rem;
}
/* Style logo Navbar */
.logoNav {
    width: 3rem;
}
/* Style logo Navbar */

/* Style Navbar */
.container-fluid {
    margin-top: -1.5%;
    background-color: var(--tercero);
}
/* Style Navbar */

/* Style Button Buscar */
.anclaBuscar {
    text-decoration: none;
    color: var(--cuarto);
}
/* Style Button Buscar */

/* Style Button Buscar hover */
.anclaBuscar:hover {
    text-decoration: none;
    color: black;
}
/* Style Button Buscar hover*/

/* Style Dropdown Menu */
.dropdown-menu {
    background-color: transparent;
    color: var(--cuarto);
}
/* Style Dropdown Menu */

/* Style Dropdown Menu item */
.dropdown-item {
    background-color: transparent;
    color: var(--cuarto);
}
/* Style Dropdown Menu item*/
.nav-link{
color: var(--cuarto);
}
/* ------------------------End Navbar Secction------------------------ */
.h3Title{
    filter: drop-shadow(5px 5px 17px #FFFD8C);
    color: #FFFD8C;
}
/* title video section */

.divTrailer{
    width: 100%;
    height: 100%;
}
/* Style div video section */

/* Style  Destac video section */
.vidDestac{
    width: 100%;
    height: 100%;
}
/* Style  Destac video section */

/* Style  Div img section */
.divImg{
    width: 25%;
}
/* Style  Div img section */

/* Style  img lord of Fallen section */
.imglof{
    /* margin-left: -10px; */
    width: 100%;
    height: 100%;
}
/* Style  img lord of Fallen section */

/* Style div slider */
.col-8{
    width: 70%;
}
/* Style div slider */

/* ------------------------end categories video section------------------------- */

/* ------------------------star categories video Section details------------------------- */

/* Style card */
.card{
    background-color: #15011f;
    border: 3px solid #15011f;
}
/* Style card */

/* Style card tex */
.card-text{
    color: var(--cuarto);
}
/* Style card tex */

/* Style card span tex */
.spanDetail{
    background-color: #15011f;
    color: var(--cuarto);
}
/* Style card span tex */
#imgDitail{
    width: 100%;
    height: 45%;
}

.moreRecomends{
    color: var(--cuarto);
}



/* Style card Buy Button  */
.btn{
    background-color: transparent;
    border: 3px solid var(--cuarto);
    color: var(--cuarto);
    border-radius: 1.5rem;
}
/* Style card Buy Button */

/* Style car Buy Button hover*/
.btn:hover{
    background-color: var(--cuarto);
    border: 3px solid var(--cuarto); 
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    border-radius: 1.5rem;
    font-weight: 800;
}
/* Style Buy Button hover*/

/* style h1 categories section */
.h1categories{
    color:var(--cuarto);
    font-weight: 600;
}
/* style h1 categories section */
/* style h1 categories section hover*/
.h1categories:hover{
    color:var(--cuarto)
}
/* style h1 categories section hover*/

/* style conteiner categorias */
#contCategories{
    padding: 0.3rem;
    filter: drop-shadow(5px 5px 17px #FFFD8C);
    background-color: transparent;
    border: 3px solid var(--cuarto)
}
/* style conteiner categorias */
/* FOOTER */

#footer{
    background-color: transparent;
  }
  
  .logo-footer {
    width: 200px;
    height: auto;
  }
  
  .social-media {
    color: var(--cuarto);
    font-size: 40px;
  }
  
  .social-media:hover {
    color: var(--cuarto);
    transition: all 0.1s linear;
    font-size: 50px;
  }
  
  .about-footer a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--cuarto);
  }
  
  .about-footer a:hover {
    color: var(--cuarto);
    transition: all 0.1s linear;
    font-size: 35px;
  }
  .copiRight{
    color: var(--cuarto)
  }

 @media (min-width: 576) {
    .col-4 {
      .iconRep {
        font-size: 1rem;
      }
    }
    .col-4:hover {
      .iconRep {
        font-size: 1rem;
      }
    }
  }
  @media (min-width: 576) and (max-width: 992px) {
    .col-4 {
      .iconRep {
        font-size: 1rem;
      }
    }
    .col-4:hover {
      .iconRep {
        font-size: 1rem;
      }
    }
  }
  @media (min-width: 1366) and (max-width: 1978px) {
  }