*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    background-color: #9400FF;
}

imgSlider{
    width: 50%;
    height: 50%;
}
.vidDestac{
    border: 3px solid #bfcc04cc;
    border-radius: 1.5rem;
}



