/* Se quitan todos los valores por defecto */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* Se quitan todos los valores por defecto */

/* Se crean variables para la paleta de colores */
html{
    --primero:  #793FDF;
    --segundo: #97FFF4;
    --tercero: #7091F5;
    --cuarto: #FFFD8C;
}
/* Se crean variables para la paleta de colores */

/* Se pinta el body */
body{
    background-color: #15011f;

}
/* Se pinta el body */

/* ------------------------star recommended video section------------------------- */
/* Style div video Description  */
#divDesc{
    border: 3px solid var(--cuarto);
    border-radius: 1.5rem;
    cursor: pointer;
    color:var(--cuarto);
}
/* div video Description  */

/* Hover div video Description  */
#divDesc:hover{
    background-color: transparent;
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    border: 3px solid var(--cuarto);
    border-radius: 1.5rem;
    cursor: pointer;
}
/* Hover div video Description  */

/* Style Buy Button */
.btn{
    background-color: transparent;
    border: 3px solid var(--cuarto);
    color: var(--cuarto);
    border-radius: 1.5rem;
}
/* Style Buy Button */

/* Style Buy Button hover*/
.btn:hover{
    background-color: var(--cuarto);
    border: 3px solid var(--cuarto); 
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    border-radius: 1.5rem;
    font-weight: 800;
}
/* Style Buy Button hover*/

/* style video recommended logo */
#esdlaLogo{
    
    filter: drop-shadow(5px 5px 17px #FFFD8C);
}
/* style video recommended logo */

/* Style recommended video */
.vidDestac{
    width: 100%;
    border: 3px solid var(--cuarto);
    border-radius: 1.5rem;
    cursor: pointer;
}
/* Style recommended video */

/* Style recommended video hover */
.vidDestac:hover{
    box-shadow: 10px 10px 66px 0px var(--cuarto);
    border: 3px solid var(--cuarto);
    border-radius: 1.5rem;
    cursor: pointer;
}
/* Style recommended video hover */
/* ----------------------------end recommended video section----------------------------- */

/* style more recomended section */
.moreRecomends{
    color:var(--cuarto)
    
}
/* style more recomended section */

/* ----------------------------Star categories section----------------------------------- */
/* Style img categories section */
.imgSlider{
    width: 20%;
}
/* Style img categories section */

/* style h1 categories section */
.h1categories{
    color:black
}
/* style h1 categories section */

/* style conteiner categorias */
#contCategories{
    padding: 0.3rem;
    /* filter: drop-shadow(5px 5px 17px #FFFD8C); */
    background-color: #FFFD8C;
}
/* style conteiner categorias */

/* style h3 Slide categories section */
.h3Slide{
    color: var(--cuarto);
}
/* style h3 Slide categories section */